# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List popular languages used in Data Science
 - List popular libraries used in Data Science
 - List commonly used development environment open source tools in Data Science
 - Evaluate Arithmetic Expression in Python
 - Use of Markdown Tools in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Keras
5. Matplotlib

| Data Science Tools       |
| ------------- |
| Jupyter Notebook     |
| Apache Spark     |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
Snigdha Ghosh